# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- PyInstaller (Compilación) ---
# Ignoramos estas porque se generan solas y pesan mucho
build/
dist/
*.spec

# --- Streamlit ---
.streamlit/

# --- Bases de Datos y Logs ---
*.db
*.log
# Si tienes un archivo de configuración con el Token de PRTG:
config_privada.json

# --- OS ---
.DS_Store
Thumbs.db