# --- Python (Archivos compilados y caché) ---
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- PyInstaller (Empaquetado) ---
# Ignoramos la carpeta de construcción y de salida del EXE
# dist/  <-- Ya incluido arriba, pero lo reforzamos
# build/ <-- Ya incluido arriba
*.spec

# --- Entornos Virtuales ---
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# --- Streamlit ---
.streamlit/
static/

# --- Base de Datos y Logs ---
*.log
*.sql
*.sqlite3
*.db
.env
.flaskenv

# --- Archivos de Sistema ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db